<div id="<%= dom_id(note) %>" class="card p-2 m-2" style="min-width:25%;">
  <div id="note_#{note.id}" style="position: absolute; top:1.5em; right:0em; left:auto;" data-toggle="modal" data-target="#myModal">
    <%= link_to complete_note_path(note), method: :patch, remote: true do %>
      <div class="check-or-not" data-toggle="tooltip" data-placement="top" title="Archive this note"></div>
    <% end %>
  </div>
  <h5 class="card-body"><%= note.title %></h5>
  <p class="card-text"><%= note.content %></p>
  <p class="card-text">
    <small class="text-muted"><%= "Last updated #{time_ago_in_words(note.updated_at)} ago" %></small>
  </p>
  <%= link_to 'View details', note, class: "btn btn-primary" %>
</div>
