<center>
  <h1>My Envelope</h1><br>
  <% unless @notes.blank? %>
    <div class="card-deck mx-auto">
      <% @notes.each do |note| %>
        <div class="card p-2 m-2" style="min-width: 25%">
          <h5 class="card-body"><%= note.title %></h5>
          <p class="card-text"><%= note.content %></p>
          <p class="card-text"><small class="text-muted"><%= "Last updated #{time_ago_in_words(note.updated_at)} ago" %></small></p>
          <%= link_to 'View details', note, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Looks like you don't have any notes. Create one using the button below!</p>
    <%= link_to 'New Note', new_note_path, class: 'btn btn-primary' %>
  <% end %>
</center>
