<h1>Look at this note, dood.</h1>

<h2><%= @note.title %></h2>
<p><%= @note.content %></p>

<%= link_to 'All Notes', notes_path %>
<%= link_to 'Edit', edit_note_path(@note) %>
<%= link_to 'Delete', note_path(@note), method: :delete, data: { confirm: 'Are you sure?'}  %>
