<!DOCTYPE html>
<html>
  <head>
    <title>NucleusNotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.authy.com/form.authy.min.js" %>

  </head>

  <body>
    <div style="min-height: 120px">
      <% if user_signed_in? || controller_name == 'welcome' %>
        <%= render 'layouts/navbar' %>
      <% end %>
    </div>

    <div id="flash">
      <%= render partial: "layouts/errors" %>
    </div>

    <br>

    <%= yield %>
  </body>
</html>
